<%- include ('../template/header') %>
    <%- include ('../template/nav') -%>
        <!-- Booked section -->


        <section class="faq_section layout_padding">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Booked <span>Service</span>
                                </h2>
                            </div>
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Price</th>
                                            <th>Paymemt Mathod</th>
                                            <th>Service Date</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% userBooking.map(boking=>{ %>
                                            <tr>
                                                <td>
                                                    <%=boking.ser_title%>
                                                </td>
                                                <td>
                                                    <%=boking.ser_price%>
                                                </td>
                                                <td>
                                                    <%=boking.payment_mathod%>
                                                </td>
                                                <td>
                                                    <%=boking.fdate%>
                                                </td>
                                                <%if(boking.status==0){%>
                                                    <td class="pending">Pending</td>

                                                    <% }else if(boking.status==1){ %>
                                                        <td class="confirmed">Active</td>

                                                        <% }else{ %>
                                                            <td class="pending">Hold</td>


                                                            <% } %>
                                            </tr>
                                            <% }) %>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end Booked section -->
        <%- include("../template/footer"); -%>