<%- include ('../template/header') %>
    <%- include ('../template/nav') -%>
        <!-- Booked section -->


        <section class="faq_section layout_padding">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Booked <span>Service</span>
                                </h2>
                            </div>
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Details</th>
                                            <th>Booked Date</th>
                                            <th>Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <%= allService[0].stitle%>
                                                </th>
                                                <td>
                                                    <%= allService[0].items%> also <%= allService[0].details%>
                                                </td>
                                                <td>
                                                    <%= allService[0].fdate%>
                                                </td>
                                                <td>
                                                    <%= allService[0].status%>
                                                </td>
                                                                                          
                                            </tr>
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end Booked section -->
        <%- include("../template/footer"); -%>