<%- include("../template/header"); -%>
	<%- include ('../template/nav') -%>

		<div class="container mt-5">
			<h4 class="text-center">user Login Form</h4>

			<div class="row">
				<div class="col-md-6 offset-3">
					<form action="/login" method="POST">
						<div class="form-floating mb-3">
							<input type="email" class="<%= error.email ? 'error' : '' %>  form-control"
								id="floatingInput" name="email" placeholder="name@example.com"
								value="<%= value.email ? value.email : '' %>" required />
							<label for="floatingInput">Email address</label>
							<p class="text-danger p-2">
								<%= error.email && error.email %>
							</p>
						</div>
						<div class="form-floating">
							<input type="password" class="<%= error.pass ? 'error' : '' %> form-control" name="pass"
								id="floatingPassword" placeholder="Password" value="<%= value.pass ? value.pass : '' %>"
								required />
							<label for="floatingPassword">Password</label>
							<p class="text-danger p-2">
								<%= error.pass && error.pass %>
							</p>
						</div>

						<button type="submit" class="btn btn-info mt-3 rounded-pill" id="lgnBtn" value="userMail">
							Login
						</button>
						<a href="/signup"><button type="button" class="btn mt-3 btn-primary rounded-pill">
								Register
							</button></a>
					</form>
				</div>
			</div>
		</div>
		<%- include("../template/lfooter"); -%>
			<script>
				let auth = '<%= auth %>';
				if (auth === "true") {
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Authentication failed',
						footer: '<a href="/signup">Don\'t have an account?</a>'
					})
				}
			</script>