<%- include ('../template/header') %>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 mt-4 card p-4">
                <% if(session.u_id) { %>
                    <div class="mb-3">
                        <figure class="text-center">
                            <p class="h3">Welcome
                                <%- session.first_name %>
                                    <%- session.last_name %>

                            </p>
                            <blockquote class="blockquote">
                                <p>
                                    You are a <%- session.role %>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Use our system </figcaption>
                            
                            <a href="/logout" class="btn btn-primary rounded-pill">Logout</a>
                        </figure>
                    </div>
                    <% } else { %>
                        <h4 class="mt-2">Login</h4>

                        <div class="mt-3 login-and-res">
                            <form action="/login" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="" class="form-label"><i class="las la-mobile"></i>
                                                Email:</label>
                                            <input type="email" class="form-control" name="email" required />
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label"> Role:</label>
                                            <select class="form-select" name="role" aria-label="Default select example">
                                                <option selected required>Select Role :</option>
                                                <option value="user">User</option>
                                                <option value="worker">Worker</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label"><i class="las la-mobile"></i>
                                                Password:</label>
                                            <input type="password" class="form-control" name="pass" required />
                                        </div>
                                        <button type="submit" class="btn btn-primary rounded-pill">Login</button>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <figure class="text-center">
                                                <p class="h3">House Shifting Service</p>
                                                <blockquote class="blockquote">
                                                    <p class="h4">Create a new account.</p>
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                    You Create accoun as user or a worker</cite>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                            <a href="/signup" class="btn btn-info rounded-pill"
                                                type="button">SignUp!</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <% } %>
            </div>
        </div>
    </div>


    <%- include ('../template/footer') %>