<%- include ('../template/aheader') %>

    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="/admin">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/service" id="active--link">
                        <span class="icon icon-2"><i class="ri-git-repository-line"></i></span>
                        <span class="sidebar--item">Service</span>
                    </a>
                </li>
                <li>
                    <a href="/booking">
                        <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                        <span class="sidebar--item">Booking Schedule</span>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <span class="icon icon-4"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">User</span>
                    </a>
                </li>
                <li>
                    <a href="/worker">
                        <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Worker</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Booking</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-customer-service-line"></i></span>
                        <span class="sidebar--item">Support</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="#">
                        <span class="icon icon-7"><i class="ri-settings-3-line"></i></span>
                        <span class="sidebar--item">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main--content">
            <div class="service">
                <div class="title">
                    <h2 class="section--title">Add Service</h2>
                </div>
                <div class="container">
                    <form action="/add-service" method="post">
                        <div class="mb-3 col-12">
                            <label for="stile" class="form-label">Service Title</label>
                            <input type="text" class="form-control" id="stitle" placeholder="Enter Service Title"
                                name="stitle">
                        </div>

                        <div class="info-box table">
                            <table id="output" class="table">
                                <thead>
                                    <td>Item</td>
                                    <td>Quantity</td>
                                    <td>Action</td>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="mb-3 col-12" hidden>
                            <label for="items" class="form-label">Items</label>
                            <textarea class="form-control" id="items" rows="3" placeholder="Details..."
                                name="items"></textarea>
                        </div>

                        <div class="mb-3 col-12">
                            <div class="md-3 row">
                                <div class="md-5 col-5">
                                    <label for="item" class="col-form-label">Item</label>
                                    <div>
                                        <select class="form-select" id="item" aria-label="Default select example">
                                            <option selected>Select Moving Item:</option>
                                            <option value="Packets">Packets</option>
                                            <option value="Khat">Bedstead(Khat)</option>
                                            <option value="Almirah">Almirah</option>
                                            <option value="Chair">Chair</option>
                                            <option value="Table">Table</option>
                                            <option value="Dressing-Table">Dressing Table</option>
                                            <option value="Wardrobe">Wardrobe</option>
                                            <option value="Cabinate">Cabinate</option>
                                            <option value="Fan">Fan</option>
                                            <option value="Frize">Frize</option>
                                            <option value="AC">AC</option>
                                            <option value="Washing-Machine">Washing Machine</option>
                                            <option value="Other">Other</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="md-5 col-5">
                                    <label for="quantity" class="col-form-label">Quantity</label>
                                    <div>
                                        <div>
                                            <input type="number" class="form-control" id="quantity">
                                        </div>
                                    </div>
                                </div>

                                <div class="md-5 col-2">
                                    <label class="col-form-label">Add more</label>
                                    <div>
                                        <a onclick="add()" class="btn btn-primary" id="add">Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="details" class="form-label">Other Details</label>
                            <textarea class="form-control" id="details" rows="3" placeholder="Details..."
                                name="details"></textarea>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" placeholder="৳ 1000.00" name="price">
                        </div>
                        <div class="mb-3 col-12">
                            <div class="md-3 row">
                                <div class="md-3 col">
                                    <label for="date" class="col-form-label">Date</label>
                                    <div>
                                        <div class="input-group date" id="datepicker">
                                            <input type="date" id="date" class="form-control" name="date" id="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="md-3 col">
                                    <label for=" " class="col-form-label">Status</label>
                                    <div>
                                        <div>
                                            <select class="form-select" name="status"
                                                aria-label="Default select example">
                                                <option selected>Select Status:</option>
                                                <option value="Active">Active</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Deactive">Deactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- button -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="recent--worker">
                <div class="title">
                    <h2 class="section--title">My Service List</h2>
                    <button class="add"><i class="ri-add-line"></i>Add Service</button>
                </div>
                <div class="table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                                <th>Date in</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            
                            <tr>
                                <% allService.map(service=>{ %>
                                    <th scope="row">
                                        <%= service.stitle%>
                                    </th>
                                    <td>
                                        <%= service.items%><span id="dots">...</span><span
                                        id="more"> also <%= service.details%></span>
                                    <button onclick="myFunction()" id="myBtn" class="btn btn-link">Read more</button>

                                    </td>
                                    <td>
                                        <%= service.fdate%>
                                    </td>
                                    <td>
                                        <%= service.status%>
                                    </td>
                                    <td>
                                        <%= service.price%> BDT
                                    </td>
                                    <td><span><i class="ri-edit-line edit"></i><i
                                                class="ri-delete-bin-line delete"></i></span></td>

                                    <% }) %>
                            </tr>
                            
                            <tr>
                                <% allService.map(service=>{ %>
                                    <th scope="row">
                                        <%= service.stitle%>
                                    </th>
                                    <td>
                                        <%= service.items%> also <%= service.details%>
                                    </td>
                                    <td>
                                        <%= service.fdate%>
                                    </td>
                                    <td>
                                        <%= service.status%>
                                    </td>
                                    <td>
                                        <%= service.price%> BDT
                                    </td>
                                    <td><span><i class="ri-edit-line edit"></i><i
                                                class="ri-delete-bin-line delete"></i></span></td>

                                    <% }) %>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/service.js"></script>

    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");



            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }


        function myFunction2() {
            var dots2 = document.getElementById("dots2");
            var moreText2 = document.getElementById("more2");
            var btnText2 = document.getElementById("myBtn2");
            if (dots2.style.display === "none") {
                dots2.style.display = "inline";
                btnText2.innerHTML = "Read more";
                moreText2.style.display = "none";
            } else {
                dots2.style.display = "none";
                btnText2.innerHTML = "Read less";
                moreText2.style.display = "inline";
            }

        }

        function add() {
            let item = document.getElementById("item");
            let quantity = document.getElementById("quantity");
            let output = document.querySelector("#output tbody");
            let items = document.getElementById("items");
            output.innerHTML += "<tr><td>" + item.value + "</td><td>" + quantity.value + "</td><td><span><i class='ri-edit-line edit'></i></span><span><i class='ri-delete-bin-line delete'></i></span></td></tr>"
            items.innerHTML += " " + item.value + " - " + quantity.value + " pice(s),"



        }


    </script>