<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css" rel="stylesheet" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/astyle.css" />
  <title>Worker</title>
</head>
<body>
    
<section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>House<span>Shifting</span></h2>
        </div>
        <div class="search--notification--profile">
            <div class="search">
                <input type="text" placeholder="Search Service..">
                <button><i class="ri-search-2-line"></i></button>
            </div>
            <div class="notification--profile">
          
                <div class="picon chat">
                    <%=workerData[0].first_name%> <%=workerData[0].last_name%>
                </div>
                <div class="picon profile">
                    <img src="/uploads/<%=workerData[0].propic%>" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="/admin">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-customer-service-line"></i></span>
                        <span class="sidebar--item">Support</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">
            
                <li>
                    <a href="/workerlogout">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main--content">
            <div class="recent--worker">
                <div class="title">
                    <h2 class="section--title">Booking Schedule List</h2>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>


                            <tr>

                                <th>Service Title</th>
                                <th>Current Address</th>
                                <th>Destination</th>
                                <th>Service Date</th>
                                <th>Paymemt Mathod</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allBooking.map(service=>{ %>
                                <tr>

                                    <td>
                                        <%=service.ser_title%>
                                    </td>                                 
                                    <td>
                                        <%=service.current_address%>
                                    </td>
                                    <td>
                                        <%=service.des_house%>, Road No: <%=service.des_road%>, Division:
                                                <%=service.des_division%>,
                                                    District:
                                                    Chattogram, Thana/Upazila: <%=service.des_upazila%>
                                    </td>
                                    <td>
                                        <%=service.fdate%>
                                    </td>
                                    <td>
                                        <%=service.payment_mathod%>
                                    </td>
                                    <%if(service.status==0){%>
                                        <td class="pending">Pending</td>                                        
                                        <% }else if(service.status==1){ %>
                                            <td class="confirmed">Active</td>                                            
                                            <% }else{ %>
                                                <td class="pending">Hold</td>                                                
                                            <% } %>

                                </tr>


                                <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src=""></script>